.o_moo_ui_scope {
    .o_moo_ui_popover {
        color: var(--moo-ui-foreground);
    }
}

.popover {
    --bs-popover-border-color: var(--moo-ui-border);
    --bs-popover-bg: var(--moo-ui-popover);
    --bs-popover-body-color: var(--moo-ui-foreground);
}
