{% set component_icons = {
  "button": "mouse-pointer-click",
  "button-group": "panel-top",
  "card": "square-stack",
  "typography": "type",
  "kbd": "keyboard",
  "input": "text-cursor-input",
  "textarea": "file-text",
  "input-group": "search",
  "select": "chevrons-up-down",
  "dropdown-menu": "menu",
  "badge": "badge",
  "avatar": "circle-user",
  "navigation": "panel-left",
  "separator": "separator-horizontal",
  "sidebar": "panel-left",
  "close-button": "x",
  "alert": "circle-alert"
} %}
