{% from "components/typography.html.jinja" import typography %}

{% macro render_page_header(title, description) %}
  <header class="moo-component-header">
    {{ typography(title, variant="page-title") }}
    {{ typography(description, variant="page-description") }}
  </header>
{% endmacro %}
