{% from "components/typography.html.jinja" import typography %}

{% macro render_page_header(title, description, id="", actions="") %}
  <header class="moo-component-header"{% if id %} aria-labelledby="{{ id }}"{% endif %}>
    <div class="moo-component-header__title-row">
      {{ typography(title, variant="page-title", id=id) }}
      {% if actions %}
        {{ actions | safe }}
      {% endif %}
    </div>
    {{ typography(description, variant="page-description") }}
    {% if caller is defined %}
      <div class="moo-component-header__actions">
        {{ caller() | trim | safe }}
      </div>
    {% endif %}
  </header>
{% endmacro %}
