.o_moo_ui_scope {
    .o_moo_ui_separator {
        flex: 0 0 auto;
        background: var(--moo-ui-border);
    }

    .o_moo_ui_separator_horizontal {
        width: 100%;
        height: 1px;
    }

    .o_moo_ui_separator_vertical {
        width: 1px;
        min-height: 1rem;
    }
}
