.o_moo_ui_scope {
    .o_moo_ui_switch {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--moo-ui-foreground);
    }

    .o_moo_ui_switch_input:checked {
        background-color: var(--moo-ui-accent);
        border-color: var(--moo-ui-accent);
    }
}
