{% macro close_button(aria_label="Close", disabled=false, extra_class="") -%}
  {% if not aria_label | trim %}{{ fail("Close button aria_label is required") }}{% endif %}
  <button type="button" class="btn-close{% if extra_class %} {{ extra_class }}{% endif %}" aria-label="{{ aria_label }}"{% if disabled %} disabled{% endif %}></button>
{%- endmacro %}
