kbd {
  display: inline-flex;
  height: $moo-chip-height;
  min-width: $moo-chip-height;
  align-items: center;
  justify-content: center;
  font-family: $font-family-sans-serif;
  line-height: $spacer;
  font-weight: $font-weight-medium;
}
