@property --moo-ui-scroll-fade-top {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --moo-ui-scroll-fade-bottom {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --moo-ui-scroll-fade-start {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

@property --moo-ui-scroll-fade-end {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
}

.o_moo_ui_scope {
    .o_moo_ui_scroll_fade {
        --moo-ui-scroll-fade-size: min(12%, 40px);
        --moo-ui-scroll-fade-reveal: 40px;
        overflow: auto;
        mask-repeat: no-repeat;
        mask-image: var(--moo-ui-scroll-fade-mask, var(--moo-ui-scroll-fade-block));
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-image: var(--moo-ui-scroll-fade-mask, var(--moo-ui-scroll-fade-block));
    }

    .o_moo_ui_scrollbar_none {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .o_moo_ui_scrollbar_none::-webkit-scrollbar {
        display: none;
    }

    .o_moo_ui_scroll_fade,
    .o_moo_ui_scroll_fade_y {
        --moo-ui-scroll-fade-block: linear-gradient(
            to bottom,
            transparent 0,
            black calc(var(--moo-ui-scroll-fade-top) * var(--moo-ui-scroll-fade-size)),
            black calc(100% - (var(--moo-ui-scroll-fade-bottom) * var(--moo-ui-scroll-fade-size))),
            transparent 100%
        );
        animation-name: moo-ui-scroll-fade-top, moo-ui-scroll-fade-bottom;
        animation-timeline: scroll(self y), scroll(self y);
        animation-range: 0 var(--moo-ui-scroll-fade-reveal), calc(100% - var(--moo-ui-scroll-fade-reveal)) 100%;
        animation-fill-mode: both;
        animation-duration: 1ms;
    }

    .o_moo_ui_scroll_fade_x {
        --moo-ui-scroll-fade-inline: linear-gradient(
            to right,
            transparent 0,
            black calc(var(--moo-ui-scroll-fade-start) * var(--moo-ui-scroll-fade-size)),
            black calc(100% - (var(--moo-ui-scroll-fade-end) * var(--moo-ui-scroll-fade-size))),
            transparent 100%
        );
        --moo-ui-scroll-fade-mask: var(--moo-ui-scroll-fade-inline);
        animation-name: moo-ui-scroll-fade-start, moo-ui-scroll-fade-end;
        animation-timeline: scroll(self inline), scroll(self inline);
        animation-range: 0 var(--moo-ui-scroll-fade-reveal), calc(100% - var(--moo-ui-scroll-fade-reveal)) 100%;
        animation-fill-mode: both;
        animation-duration: 1ms;
    }

    .o_moo_ui_scroll_fade_t {
        --moo-ui-scroll-fade-block: linear-gradient(
            to bottom,
            transparent 0,
            black calc(var(--moo-ui-scroll-fade-top) * var(--moo-ui-scroll-fade-size)),
            black 100%
        );
        --moo-ui-scroll-fade-mask: var(--moo-ui-scroll-fade-block);
        animation-name: moo-ui-scroll-fade-top;
        animation-timeline: scroll(self y);
        animation-range: 0 var(--moo-ui-scroll-fade-reveal);
    }

    .o_moo_ui_scroll_fade_b {
        --moo-ui-scroll-fade-block: linear-gradient(
            to bottom,
            black 0,
            black calc(100% - (var(--moo-ui-scroll-fade-bottom) * var(--moo-ui-scroll-fade-size))),
            transparent 100%
        );
        --moo-ui-scroll-fade-mask: var(--moo-ui-scroll-fade-block);
        animation-name: moo-ui-scroll-fade-bottom;
        animation-timeline: scroll(self y);
        animation-range: calc(100% - var(--moo-ui-scroll-fade-reveal)) 100%;
    }

    .o_moo_ui_scroll_fade_s,
    .o_moo_ui_scroll_fade_l {
        --moo-ui-scroll-fade-inline: linear-gradient(
            to right,
            transparent 0,
            black calc(var(--moo-ui-scroll-fade-start) * var(--moo-ui-scroll-fade-size)),
            black 100%
        );
        --moo-ui-scroll-fade-mask: var(--moo-ui-scroll-fade-inline);
        animation-name: moo-ui-scroll-fade-start;
        animation-timeline: scroll(self inline);
        animation-range: 0 var(--moo-ui-scroll-fade-reveal);
    }

    .o_moo_ui_scroll_fade_e,
    .o_moo_ui_scroll_fade_r {
        --moo-ui-scroll-fade-inline: linear-gradient(
            to right,
            black 0,
            black calc(100% - (var(--moo-ui-scroll-fade-end) * var(--moo-ui-scroll-fade-size))),
            transparent 100%
        );
        --moo-ui-scroll-fade-mask: var(--moo-ui-scroll-fade-inline);
        animation-name: moo-ui-scroll-fade-end;
        animation-timeline: scroll(self inline);
        animation-range: calc(100% - var(--moo-ui-scroll-fade-reveal)) 100%;
    }

    [dir="rtl"] .o_moo_ui_scroll_fade_x,
    [dir="rtl"] .o_moo_ui_scroll_fade_s,
    [dir="rtl"] .o_moo_ui_scroll_fade_e {
        --moo-ui-scroll-fade-inline: linear-gradient(
            to left,
            transparent 0,
            black calc(var(--moo-ui-scroll-fade-start) * var(--moo-ui-scroll-fade-size)),
            black calc(100% - (var(--moo-ui-scroll-fade-end) * var(--moo-ui-scroll-fade-size))),
            transparent 100%
        );
    }

    .o_moo_ui_scroll_fade_4 {
        --moo-ui-scroll-fade-size: 1rem;
    }

    .o_moo_ui_scroll_fade_8 {
        --moo-ui-scroll-fade-size: 2rem;
    }

    .o_moo_ui_scroll_fade_16 {
        --moo-ui-scroll-fade-size: 4rem;
    }

    .o_moo_ui_scroll_fade_24 {
        --moo-ui-scroll-fade-size: 6rem;
    }

    .o_moo_ui_scroll_fade_none {
        --moo-ui-scroll-fade-mask: none;
    }
}

@keyframes moo-ui-scroll-fade-top {
    from {
        --moo-ui-scroll-fade-top: 0;
    }

    to {
        --moo-ui-scroll-fade-top: 1;
    }
}

@keyframes moo-ui-scroll-fade-bottom {
    from {
        --moo-ui-scroll-fade-bottom: 1;
    }

    to {
        --moo-ui-scroll-fade-bottom: 0;
    }
}

@keyframes moo-ui-scroll-fade-start {
    from {
        --moo-ui-scroll-fade-start: 0;
    }

    to {
        --moo-ui-scroll-fade-start: 1;
    }
}

@keyframes moo-ui-scroll-fade-end {
    from {
        --moo-ui-scroll-fade-end: 1;
    }

    to {
        --moo-ui-scroll-fade-end: 0;
    }
}

@supports not (animation-timeline: scroll(self y)) {
    .o_moo_ui_scope {
        .o_moo_ui_scroll_fade,
        .o_moo_ui_scroll_fade_y,
        .o_moo_ui_scroll_fade_x {
            --moo-ui-scroll-fade-top: 1;
            --moo-ui-scroll-fade-bottom: 1;
            --moo-ui-scroll-fade-start: 1;
            --moo-ui-scroll-fade-end: 1;
        }

        .o_moo_ui_scroll_fade_t {
            --moo-ui-scroll-fade-top: 1;
        }

        .o_moo_ui_scroll_fade_b {
            --moo-ui-scroll-fade-bottom: 1;
        }

        .o_moo_ui_scroll_fade_s,
        .o_moo_ui_scroll_fade_l {
            --moo-ui-scroll-fade-start: 1;
        }

        .o_moo_ui_scroll_fade_e,
        .o_moo_ui_scroll_fade_r {
            --moo-ui-scroll-fade-end: 1;
        }
    }
}
