{% extends "layouts/base.html.jinja" %}

{% block body %}
  <div class="moo-catalog" data-moo-shell="catalog">
    {% include "shell/navbar.html.jinja" %}
    <div class="moo-catalog__body">
      {% include "shell/sidebar.html.jinja" %}
      <main class="moo-catalog__main" id="main-content" tabindex="-1">
        <div class="moo-catalog__content">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
    {% include "shell/footer.html.jinja" %}
  </div>
{% endblock %}
