{% extends "layouts/base.html.jinja" %}
{% from "components/sidebar.html.jinja" import sidebar_inset, sidebar_provider %}

{% block body %}
  <div class="moo-catalog" data-moo-shell="catalog">
    {% call sidebar_provider(key="catalog-shell") %}
      {% include "shell/sidebar.html.jinja" %}
      {% call sidebar_inset() %}
        {% include "shell/navbar.html.jinja" %}
        <main class="moo-catalog__main sidebar-inset__content scroll-fade-y no-scrollbar" id="main-content" tabindex="-1">
          <div class="moo-catalog__content">
            {% set has_example_toc = current_section in ["components", "utils"] and current_slug != "index" %}
            {% if has_example_toc %}
              <div class="moo-doc-layout" data-moo-component-doc-layout>
                <div class="moo-doc-main">
            {% endif %}
            {% block content %}{% endblock %}
            {% if has_example_toc %}
                </div>
                <aside class="moo-doc-toc d-none d-xl-block" aria-label="On this page" data-moo-component-toc hidden>
                  <div class="moo-doc-toc__inner">
                    <div class="moo-doc-toc__label">On this page</div>
                    <nav class="nav flex-column" aria-label="{% if current_section == 'utils' %}Utility examples{% else %}Component examples{% endif %}" data-moo-component-toc-nav></nav>
                  </div>
                </aside>
              </div>
            {% endif %}
          </div>
        </main>
        {% block footer %}
          {% include "shell/footer.html.jinja" %}
        {% endblock %}
      {% endcall %}
    {% endcall %}
  </div>
{% endblock %}
